node_modules/
lib/
dist/
build/
*.egg-info/
__pycache__/
*.py[cod]
.venv/
venv/
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example
.pypirc
*.pem
*.key
.pytest_cache/
tsconfig.tsbuildinfo
pynote/labextension/
.yarn/
.DS_Store
